html {
  background: #ffc496;
  padding: 15px;
  font-family: cursive;
  color: #8c4006;
}

button {
  font-family: inherit;
  background-color: #19ddf7;
  color: #8c4006;
  border-radius: 10px;
  border: 5px outset #8c4006;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 20px;
  cursor: pointer;
  font-size: 1rem;
}

button:active {
  box-shadow: none;
}

.text-center {
  text-align: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemList {
  background-color: #d96914;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

.cookList {
  background-color: #8c4006;
}

.itemListItem {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.shoppingButtons {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
